p {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; }
td {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; }
li {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; }
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 15pt; }
.style24 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; }
.style27 {font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold;}
.style29 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #FFFFFF; }
.style30 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #FFFF00; }
body
	{
	background-color: #FFFFCC;
	font-size: 11pt;
	}
.style31 {font-family: Arial, Helvetica, sans-serif; font-size: 14pt}
.style36
	{
		font-size: 15pt;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFEDD9;
	}
.style37 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #FFFFFF; font-weight: bold; }
.style38 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; }
.style39 {font-family: "Traditional Arabic"}
.style40 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; font-weight: bold; }
.style41 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; }
.style42 {font-family: Wingdings; font-size: 11pt; color: #000000; }
.style43 {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #FFFFFF; }
.BigHeadLight
	{
		font-size: 15pt;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFEDD9;
	}
.BigHeadDark
	{
		font-size: 15pt;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #A35830;
	}
.AirportAbbr
	{
		font-size: 30px;
		color: #FFFFFF;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}
.CountryName
	{
		font-size: 20px;
		color: #FFFFFF;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}
.ImageHead
	{
		color: #FFFFFF;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}
.ImageHeadRTL
	{
		color: #FFFFFF;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		direction: rtl;
	}
.ImageCaption
	{
		font-size: 9pt;
		font-weight: bold;
		color: #FFEDD9;
		font-family: Arial, Helvetica, sans-serif;
	}
.ImageCaptionAdd
	{
		font-size: 9pt;
		color: #FFEDD9;
		font-family: Arial, Helvetica, sans-serif;
	}
.style46
	{
		color: #FFFFFF;
		font-size: 10pt;
	}
.WHS {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #A35830}
.CheckMark
	{
		color: #006600;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: bold;
	}
.Quote {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #990000}
.QuoteName {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #990000; font-style: italic; }
.LangEN /* English */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#000000;
		border-top:1px solid #000000;
		border-left:1px solid #000000;
		border-right:1px solid #000000;
		border-bottom:1px solid #000000; 
	}
.LangTextEN
	{
		color: #000000;
		border-top:1px solid #000000;
		border-left:1px solid #000000;
		border-right:1px solid #000000;
		border-bottom:1px solid #000000;
	}
.LangEL /* Greek */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#0088FF;
		border-top:1px solid #0088FF;
		border-left:1px solid #0088FF;
		border-right:1px solid #0088FF;
		border-bottom:1px solid #0088FF; 
	}
.LangTextEL
	{
		color: #0088FF;
		border-top:1px solid #0088FF;
		border-left:1px solid #0088FF;
		border-right:1px solid #0088FF;
		border-bottom:1px solid #0088FF;
	}
.LangTR /* Turkish */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#FF0000;
		border-top:1px solid #FF0000;
		border-left:1px solid #FF0000;
		border-right:1px solid #FF0000;
		border-bottom:1px solid #FF0000; 
	}
.LangTextTR
	{
		color: #FF0000;
		border-top:1px solid #FF0000;
		border-left:1px solid #FF0000;
		border-right:1px solid #FF0000;
		border-bottom:1px solid #FF0000;
	}
.LangHE /* Hebrew */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#0000FF;
		border-top:1px solid #0000FF;
		border-left:1px solid #0000FF;
		border-right:1px solid #0000FF;
		border-bottom:1px solid #0000FF; 
	}
.LangTextHE
	{
		color: #0000FF;
		border-top:1px solid #0000FF;
		border-left:1px solid #0000FF;
		border-right:1px solid #0000FF;
		border-bottom:1px solid #0000FF;
	}
.LangAR /* Arabic */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#006600;
		border-top:1px solid #006600;
		border-left:1px solid #006600;
		border-right:1px solid #006600;
		border-bottom:1px solid #006600; 
	}
.LangTextAR
	{
		color: #006600;
		border-top:1px solid #006600;
		border-left:1px solid #006600;
		border-right:1px solid #006600;
		border-bottom:1px solid #006600;
		font-weight: bold;
		direction: rtl;
	}
.LangTextAREN
	{
		color: #006600;
		border-top:1px solid #006600;
		border-left:1px solid #006600;
		border-right:1px solid #006600;
		border-bottom:1px solid #006600;
	}
.LangDE /* German */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#CC9900;
		border-top:1px solid #CC9900;
		border-left:1px solid #CC9900;
		border-right:1px solid #CC9900;
		border-bottom:1px solid #CC9900; 
	}
.LangTextDE
	{
		color: #CC9900;
		border-top:1px solid #CC9900;
		border-left:1px solid #CC9900;
		border-right:1px solid #CC9900;
		border-bottom:1px solid #CC9900;
	}
.LangCS /* Czech */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#9966FF;
		border-top:1px solid #9966FF;
		border-left:1px solid #9966FF;
		border-right:1px solid #9966FF;
		border-bottom:1px solid #9966FF; 
	}
.LangTextCS
	{
		color: #9966FF;
		border-top:1px solid #9966FF;
		border-left:1px solid #9966FF;
		border-right:1px solid #9966FF;
		border-bottom:1px solid #9966FF;
	}
.LangIT /* Italian */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#FF6600;
		border-top:1px solid #FF6600;
		border-left:1px solid #FF6600;
		border-right:1px solid #FF6600;
		border-bottom:1px solid #FF6600; 
	}
.LangTextIT
	{
		color: #FF6600;
		border-top:1px solid #FF6600;
		border-left:1px solid #FF6600;
		border-right:1px solid #FF6600;
		border-bottom:1px solid #FF6600;
	}
.LangLA /* Latin */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#999999;
		border-top:1px solid #999999;
		border-left:1px solid #999999;
		border-right:1px solid #999999;
		border-bottom:1px solid #999999; 
	}
.LangTextLA
	{
		color: #999999;
		border-top:1px solid #999999;
		border-left:1px solid #999999;
		border-right:1px solid #999999;
		border-bottom:1px solid #999999;
	}
.LangFR /* French */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#990000;
		border-top:1px solid #990000;
		border-left:1px solid #990000;
		border-right:1px solid #990000;
		border-bottom:1px solid #990000; 
	}
.LangTextFR
	{
		color: #990000;
		border-top:1px solid #990000;
		border-left:1px solid #990000;
		border-right:1px solid #990000;
		border-bottom:1px solid #990000;
	}
.LangEGYP /* Ancient Egyptian */
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 10px;
		background:#663333;
		border-top:1px solid #663333;
		border-left:1px solid #663333;
		border-right:1px solid #663333;
		border-bottom:1px solid #663333; 
	}
.LangTextEGYP
	{
		color: #663333;
		border-top:1px solid #663333;
		border-left:1px solid #663333;
		border-right:1px solid #663333;
		border-bottom:1px solid #663333;
	}

